:root {
    --color-hover: #e7f1d9;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #001514;
    color: #D9DBF1;
    padding: 0rem
}

.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

p {
    font-size:15px;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.brand h1 {
    width: min-content;
}

.logo {
    font-size: 3rem;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-to-personal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
}

.create-acc-container,
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
}

.create-acc i {
    font-size: 20px;
    gap: 1rem;
}

.anchor-text {
    text-decoration: none;
    transition-duration: 200ms;
    color: #D9DBF1;
}

.anchor-text:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

.anchor-icon {
    text-decoration: none;
    transition-duration: 200ms;
    color: #D9DBF1;
}

.anchor-icon:hover {
    color: var(--color-hover);
}

.page-break {
    width: 100%;
    height: 3px;
    background: var(--color-hover);
}

.main-page-container {
    display: flex;
}

main {
    display: grid;
}

.sidebar {
    padding: 20px;
    flex: 1;
    margin-right: 60px;
    /*add a border to the right? */
}


.sidebar h3 {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-hover);
}

.sidebar ul {
    list-style-type: none;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.sidebar ul > li {
    padding: 0.25rem 0;
}


.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main h2 {
    font-size: 50px;
    /*ASSIGN THIS A NEW FONT*/
}

.promo-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-image img {
    object-fit: cover;
    max-width: 85%;
    max-height: 85%;
    padding: 1rem;
}

.image-with-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.arrow {
    font-size: 50px;
}


@media (max-width: 480px) {

    .quote {
        display: none;
        margin-top: 1;
    }    

    .sidebar {
        display: none;
    }

    .main h2 {
        font-size: 25px;
        padding-top: 2rem;
    }

    .promo-image {
        max-width: 450px;
        margin: 1rem;
        justify-content: center;
    }

    .promo-image img {
        object-fit: cover;
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 0px;
    }

    .arrow {
        padding: 0rem;
        font-size: 25px;

    }
}
