:root {
    --color-hover: #e7f1d9;
}

/*master control*/
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #001514;
    color: #D9DBF1;
    padding: 0rem
}
/* setting up the wrapper on top of page*/
.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

/*effects for all paragraph text*/
p {
    font-size:15px;
}
/* brand effects both the title of company and logo, top left of page */
.brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.brand h1 {
    width: min-content;
}

.logo {
    font-size: 3rem;
}

/*quote that goes in the top center of page on larger screens */
.quote {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* this is the "Login" and "Create an Account buttons */
.links-to-personal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
}

.create-acc-container,
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
}

.create-acc i {
    font-size: 20px;
    gap: 1rem;
}

/*when you hover or click on link texts, give it a nice effect */
.anchor-text {
    text-decoration: none;
    transition-duration: 200ms;
    color: #D9DBF1;
}

.anchor-text:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

/* give icons that are interactable a nice effect */
.anchor-icon {
    text-decoration: none;
    transition-duration: 200ms;
    color: #D9DBF1;
}

.anchor-icon:hover {
    color: var(--color-hover);
}

/*seperates the wrapper on top of page from the main section */
.page-break {
    width: 100%;
    height: 3px;
    background: var(--color-hover);
}

/*setting up the main content */
.main-page-container {
    display: flex;
}

/*navigation bar on left side of page */
.sidebar {
    padding: 20px;
    margin-right: 60px;
    position: sticky;
    top: 0px;
    max-height: 400px;

}

.sidebar h3 {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-hover);
}

.sidebar ul {
    list-style-type: none;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.sidebar ul > li {
    padding: 0.25rem 0;
}

/* center of page content */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*search bar */
.input-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 25%;
    border: 1px solid var(--color-hover);
    padding: 0.75rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: transparent;
}


.input-bar:hover,
.input-bar:focus-within {
    box-shadow: 0 0 4px 1px lightgray;
}

.input-bar input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
}

.promo-image h2 {
    font-size: 50px;
    border-bottom: 1px solid var(--color-hover);
    /*ASSIGN THIS A NEW FONT*/
}
/* main promotional image */
.promo-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-image img {
    object-fit: cover;
    max-width: 85%;
    max-height: 85%;
    padding: 1rem;
}
/* image container that includes the nav icons */
.image-with-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
/*arrows next to the promotional image. I dont want these to show on mobile screens, as you would just swipe to change images */
.arrow {
    font-size: 50px;
}


.top-sellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.top-sellers h2 {
    font-size: 60px;
    border-bottom: 1px solid var(--color-hover);
}

.top-seller-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.book img {
     max-width: 60%;
     max-height: 60%;
     
}


.review {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.review-star {
    display: flex;
    gap: 0.2rem;
}


.book1dets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* make it mobile responsive */
@media (max-width: 480px) {

    .quote {
        display: none;
        margin-top: 1;
    }    

    .sidebar {
        display: none;
    }

    .main h2 {
        font-size: 25px;
        padding-top: 2rem;
    }

    .promo-image {
        max-width: 450px;
        margin: 1rem;
        justify-content: center;
    }

    .promo-image img {
        max-width: 100%;
        max-height: 100%;
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 0px;
    }

    .arrow {
       display: none;

    }
}




@media (min-width: 1080px) {
    .top-sellers {
        padding: 5rem;
    }

    .top-sellers h2 {
        font-size: 50px;
    }
}