:root {
    --color-hover: #e7f1d9;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #001514;
    color: #D9DBF1;
    padding: 0.5rem
}

.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brand-name {
    align-items: center;
} 


.logo {
    font-size: 3rem;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-to-personal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor-text {
    text-decoration: none;
    transition-duration: 200ms;
    color: #D9DBF1;
}

.anchor-text:hover {
    color: var(--color-hover);
}

.anchor-icon {
    text-decoration: none;
    transition-duration: 200ms;
    color: #D9DBF1;
}

.anchor-icon:hover {
    color: var(--color-hover);
}


@media (max-width: 480px) {

    .quote {
        display: none;
    }    
}